
@model road_to_asp.ViewModels.CustomersViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@foreach(var customer in Model.Customers)
{
    <h1>@customer.Name</h1>

    <ul>
        <li>Membership Type: @customer.MembershipType.Name plan</li>
        @if(customer.BirthDate != null)
        {
            <li>Birthdate: @customer.BirthDate</li>
        }
        
    </ul>
}

